/*  */
.container-content {
  padding-left: 6vw;
  padding-right: 6vw;
}

@media screen and (min-width: 768px) {
  .container-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* ======== SignIn ======== */
.card-signin {
  max-width: 370px;
}

/* ======== SignUp ======== */
.card-signup {
  max-width: 420px;
}

/* ======== Loader ======== */
.loader-wrapper {
  background-color: rgb(242, 239, 227, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #00000080;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* ======== Header ======== */
.container-header {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

.hamburger {
  padding: 1px 5px;
  max-height: 35px;
}

.hamburger-box {
  width: 35px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #7d7c78;
  height: 1px;
  width: 35px;
}

.pages {
  margin-top: 2vw;
}

.header-link {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.nav-link-mobile {
  margin: 4.2vw 5vw;
  font-size: 8.5vmin;
}

/* ======== Home ======== */
.hero-image {
  filter: invert(0.07);
}

.hero-container {
  padding: 0 5vw 5vw;
  height: 78vh;
  background-image: url(./assets//images/background-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: 50%;
}

@media screen and (min-width: 768px) {
  .hero-container {
    height: 73vh;
  }
}

.home-story {
  background-color: #f2efe3;
  margin-top: 5vw;
}

.story-details {
  padding-top: calc(40vmax / 5);
  padding-bottom: 5vw;
}

.home-gallery-top {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

.luxury {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
}

.effortless-pieces {
  padding-top: 6.6vmax;
  padding-bottom: 6.6vmax;
  background-image: url("./assets/images/background-hero-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.newsletter {
  background-color: #f2efe3;
  padding-top: 6.6vmax;
  padding-bottom: 5vw;
}

.home-gallery-bottom {
  background-color: #f2efe3;
  padding-top: 6.6vmax;
  padding-bottom: 5vw;
}

/* ======== Shop ======== */
.main-shop {
  padding-top: 6.6vmax;
  padding-bottom: 5vw;
}

@media screen and (min-width: 768px) {
  .main-shop {
    padding-top: 3vmax;
  }
}

.categories {
  margin: 4vw 0;
}

.category-btn {
  padding: 0 1.5vw;
}

.products-grid {
  gap: 4vw;
}

/* ======== Footer ======== */
.footer {
  background-color: #f2efe3;
  padding-top: 5vw;
  padding-bottom: 6.6vmax;
}
