.container-content {
  padding-left: 6vw;
  padding-right: 6vw;
}

@media screen and (min-width: 768px) {
  .container-content {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

/* ======== Header ======== */
.container-header {
  padding-top: 6vw;
  padding-bottom: 6vw;
}

@media screen and (min-width: 768px) {
  .container-header {
    padding-top: 3vw;
    padding-bottom: 3vw;
  }
}

.hamburger {
  padding: 1px 5px;
  max-height: 35px;
}

.hamburger-box {
  width: 35px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after,
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #7d7c78;
  height: 1px;
  width: 35px;
}

.pages {
  margin-top: 2vw;
}

.header-link {
  margin-left: 0.8vw;
  margin-right: 0.8vw;
}

.nav-link-mobile {
  margin: 4.2vw 5vw;
  font-size: 8.5vmin;
}

/* ======== Cart ======== */
.cart {
  padding-top: 5vw;
  padding-bottom: 5vw;
}

/* ======== Footer ======== */
.footer {
  background-color: #f2efe3;
  padding-top: 5vw;
  padding-bottom: 6.6vmax;
}

.contact {
  padding-top: 5vw;
  padding-bottom: 5vw;
}
