@import-normalize;

/* Font family */
@import url("./assets/fonts/Teimer/stylesheet.css");
@import url("./assets/fonts/Liberation/stylessheet.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input:focus-visible {
  outline: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
